.App-link {
  color: #fbb861;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {transform: rotate(360deg);
    }
}

.field{
  width: 400px;
  padding-bottom: 40px;
}

.colour-border{
  border: 3px solid rgb(34, 0, 128);
  padding: 20px;
}

.header{
  padding: 20px;
}
